@import "~static/styles/colors";
@import "~static/styles/main";

.nav-container {
    @extend %flex-container-row;
    @extend %flex-space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 55px;
    background-color: $item-background-color;
    border-bottom: 1px solid $item-border-color;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    color: $text-color;
    height: 65px;

    @media #{$tablet} {
        padding: 0 25px;
    }
}

.nav-menu {
    list-style: none;
    @extend %flex-container-row;

    @media #{$tablet} {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        z-index: 99;
    }
}

.display-mobile-nav {
    @extend %default-box;
    display: flex;
    padding: 0;
}

.nav-menu-item {
    margin: 0 15px;
    position: relative;
    a {
        display: block;
        position: relative;
        color: $text-color !important;

        @media #{$tablet} {
            margin: 0;
            padding: 20px;
        }
    }
    &:last-of-type {
        margin-right: 0;
    }

    @media #{$tablet} {
        margin: 0;
    }
}

.active {
    a {
        color: $text-color !important;
        font-weight: 500;
    }
    @media #{$tablet} {
        background-color: $item-border-color;
    }
}

.dark-mode-toggle-btn {
    @extend %default-button;
};

.mobile-nav-toggle-btn {
    @extend %default-button;
    display: none;

    @media #{$tablet} {
        display: block;
    }
}

.pre-login-buttons-container {
    @extend %flex-container;
    @extend %flex-center;
}