@import "~static/styles/colors.scss";
@import "~static/styles/main.scss";

.nav-container {
    @extend %flex-container-row;
    @extend %flex-space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 55px;
    background-color: $white;
    border-bottom: 1px solid $white-gray-100;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    color: $black;
    height: 65px;

    @media #{$tablet} {
        padding: 0 25px;
    }
}

.nav-menu {
    list-style: none;
    @extend %flex-container-row;

    @media #{$tablet} {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background-color: $white;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
        z-index: 99;
    }
}

.display-mobile-nav {
    display: flex;
}

.nav-menu-item {
    margin: 0 15px;
    position: relative;
    a {
        display: block;
        position: relative;
        color: $black !important;
    }
    &:last-of-type {
        margin-right: 0;
    }

    @media #{$tablet} {
        margin: 0;
        padding: 20px;
    }
}

.active {
    a {
        color: $dark-gray !important;
        font-weight: 500;
    }
}

.mobile-nav-toggle-btn {
    @extend %default-button;
    display: none;

    @media #{$tablet} {
        display: block;
    }
}

.pre-login-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-menu-container {
    @extend %flex-container;
    @extend %flex-center;
}

.user-name {
    margin-right: 10px;
}

.logout-button {
    @extend %default-button;
}