@import "~static/styles/colors.scss";
@import "~static/styles/main.scss";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    @extend %default-button;
    margin: 0 5px;
}

.login-button {
    @extend .button;
}

.register-button {
    @extend .button;
    border-color: $red-100;
    background-color: $red-100;
    color: $white;

    @media (hover: hover) {
        &:hover {
            background-color: $red !important;
        }
    }
}