@import "~static/styles/colors";
@import "~static/styles/main";

.user-menu-container {
    @extend %flex-container;
    @extend %flex-center;
}

.user-dropdown {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 175px;

    @media #{$tablet} {
        white-space: initial;
    }
}

.logout-option {
    background-color: $background-color;
}