@font-face {
    font-family: "Montserrat";
    src: url("~assets/fonts/Montserrat-Light.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("~assets/fonts/Montserrat-Regular.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("~assets/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("~assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $white;
    color: $dark-gray;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 100;
}

a {
    text-decoration: none;
}