@import "./colors.scss";
@import "./global.scss";

$tablet: "(max-width: 1024px)";

%flex-container {
    display: flex;
}

%flex-container-column {
    display: flex;
    flex-direction: column;
}

%flex-container-row {
    display: flex;
    flex-direction: row;
}

%flex-center {
    justify-content: center;
    align-items: center;
}

%flex-space-between {
    justify-content: space-between;
    align-items: center;
}

%flex-item-1 {
    flex: 1;
}

%default-button {
    padding: 6px 13px;
    text-transform: uppercase;
    border: 1px solid $white-gray-100;
    background-color: $white;
    border-radius: 3px;
    display: block;
    color: $dark-gray;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;
    font-family: 'Montserrat', 'Arial', sans-serif;
}

%default-box {
    padding: 20px 30px;
    background-color: $white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

%default-input {
    width: 100%;
    padding: 10px 13px;
    border: 1px solid $white-gray-100;
    border-radius: 3px;
    display: block;
    color: $dark-gray;
    font-family: 'Montserrat', 'Arial', sans-serif;
}

%default-view-container {
    width: 70%;
    margin: 0 auto;

    @media #{$tablet} {
        width: 100%;
        padding: 0 15px;
    }
}