@import "~static/styles/colors";
@import "~static/styles/main";

.field-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.field {
    @extend %default-input;
}

.error-message {
    color: $red-100;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}