@import "~static/styles/main";

.dropdown {
    position: relative;
    display: inline-block;
    user-select: none;
}

.toggle {
    @extend %default-button-red;
}

.dropdown-menu {
    @extend %default-box;
    flex-direction: column;
    display: none;
    position: absolute;
    padding: 5px 0;
    width: 100%;
    min-width: 150px;
    cursor: pointer;
    right: 0;
    z-index: 99;
}

.active {
    display: flex;
}

.dropdown-menu-item {
    border-radius: 3px;
    font-size: 13px;
    list-style: none;
    padding: 5px 15px;
    cursor: pointer;

    &:hover {
        background: $white-gray;
    }
}