@import "static/styles/colors";

.loading {
    animation: clockwise 1.5s linear infinite;
    display: block;
    height: 1em;
    margin: auto;
    position: relative;
    width: 1em;

    &, &:before, &:after {
        border: .2em solid transparent;
        border-radius: 50%;
        border-top-color: $red;
        margin: auto;
    }

    &:before, &:after{
        content: '';
        position: absolute;
    }

    &:before{
        animation: anticlockwise .9s linear infinite;
        top: -.6em;
        right: -.6em;
        bottom: -.6em;
        left: -.6em;
    }

    &:after {
        animation: anticlockwise .66s linear infinite;
        top: .3em;
        right: .3em;
        bottom: .3em;
        left: .3em;
    }
}

.white-loading {
    @extend .loading;
    &, &:before, &:after {
        border-top-color: $white !important;
    }
}

@keyframes clockwise {
    0%  { transform: rotate(0deg) }
    100%{ transform: rotate(360deg) }
}

@keyframes anticlockwise {
    0%  { transform: rotate(360deg) }
    100%{ transform: rotate(0deg) }
}
