@import "~static/styles/colors";
@import "~static/styles/main";

.container {
    margin: 0 auto;
    max-width: 450px;
    font-size: 14px;

    a {
        color: $red;
        @media (hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.title {
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 20px;
}

.form-container {
    @extend %default-box;
}

.fields-container {
    @extend %flex-container-column;
    width: 100%;
}

.submit-button {
    @extend %default-button-red;
    padding: 10px 13px;
}

.server-error-message {
    text-align: center;
    color: $red-100;
    font-weight: 500;
    padding-top: 10px;
}

.forgot-password-link {
    padding-top: 10px;
    display: block;
    font-size: 13px;
    text-align: center;
}

.callout-text {
    text-align: center;
    padding: 10px 0;
}

.success-message {
    @extend .server-error-message;
    color: $green;
}