@import "~static/styles/colors";
@import "~static/styles/main";

.container {
    margin: 0 auto;
    max-width: 450px;
}

.title {
    margin-bottom: 10px;
    font-weight: 500;
}

.form-container {
    @extend %default-box;
}

.fields-container {
    @extend %flex-container-column;
    width: 100%;
}

.submit-button {
    @extend %default-button-red;
    padding: 10px 13px;
}

.server-error-message {
    text-align: center;
    color: $red-100;
    font-weight: 500;
    font-size: 13px;
    padding-top: 10px;
}