@import "~static/styles/colors";
@import "~static/styles/main.scss";

.container {
    max-width: 550px;
    width: 90%;
    margin: 150px auto 0;
    border-radius: 4px;
    border: 2px dashed $white-gray;
    text-align: center;
    padding: 20px 30px;
}

h3 {
    font-weight: 300;
}