@import "~static/styles/colors";
@import "~static/styles/main.scss";

.container {
    @extend %default-view-container;
}

.welcome-text {
    @extend %default-box;
    max-width: 550px;
    width: 90%;
    margin: 150px auto 0;
    text-align: center;
    font-weight: 300;
}