@import "~static/styles/colors";
@import "~static/styles/main";

.verification-info {
    @extend %default-box;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0 auto;

    img {
        margin-bottom: 10px;
    }

    p {
        margin-top: 10px;
        font-size: 14px;
    }
}

.login-link, .resend-link {
    cursor: pointer;
    color: $red;
    @media (hover: hover) {
        &:hover {
            text-decoration: underline;
        }
    }
}